In [4]:
import pandas as pd
read_train=pd.read_parquet('/Users/lacle/Desktop/ml_ops_test/mlops-mara-sample-public/data_pipeline/data_sources/network_attack.parquet')

In [15]:
import uuid
from randomtimestamp import randomtimestamp, random_date, random_time
read_train['attack_id']=[str(uuid.uuid4()) for _ in range(len(read_train))]
read_train['created']=[randomtimestamp(start_year=2023) for _ in range(len(read_train))]
read_train[['attack_id','created','feature1','feature2','label']].to_parquet("/Users/lacle/Desktop/ml_ops_test/mlops-mara-sample-public/data_pipeline/data_sources/network_attack.parquet",index=False)

In [16]:
read_train[['attack_id','created','feature1','feature2','label']]

,attack_id,created,feature1,feature2,label
0,f1ffaaee-07e7-49ab-adc0-5641de7ee761,2023-08-03 22:29:53,0.000008,ptp,1
1,b8e0d9c0-3b1c-4267-b5fa-193fa5d56cde,2023-02-06 14:37:43,0.778566,tcp,1
2,b1a2e4ab-baf1-4a05-bd95-e3db5853e01e,2023-07-06 04:14:23,0.054953,tcp,0
3,828ec9d8-d3e5-4a66-ba3b-e329715ead25,2023-06-29 22:27:24,1.521637,tcp,1
4,0c9ee38c-bf77-4846-835f-fc8476cc0e9e,2023-07-18 08:47:16,0.000004,udp,1
...,...,...,...,...,...
92757,4e6e90eb-a3b9-4b09-81c6-b58b4a595e48,2023-07-22 19:38:34,0.000003,unas,1
92758,c7f34ea7-40c3-4e07-96d2-df6272abb592,2023-04-09 11:21:55,0.000002,udp,1
92759,07aa8f5d-fb69-4897-b64c-074c7ffc7fc7,2023-07-16 11:19:50,58.795750,ospf,1
92760,4b4e67d9-c844-4d3c-a7db-021e0fddeab3,2023-06-01 14:53:12,0.412985,tcp,1
92761,7fad2b26-21ea-46b8-90e2-d2cb6d5c19c0,2023-05-18 10:30:29,0.000008,udp,1

In [3]:
pd.read_parquet('/Users/lacle/Desktop/ml_ops_test/mlops-mara-sample-public/data_pipeline/data_sources/driver_stats.parquet')

,datetime,driver_id,conv_rate,acc_rate,avg_daily_trips,created
0,2021-07-13 11:00:00+00:00,1005,0.373837,0.154890,498,2021-07-28 11:08:04.802
1,2021-07-13 12:00:00+00:00,1005,0.571627,0.643958,656,2021-07-28 11:08:04.802
2,2021-07-13 13:00:00+00:00,1005,0.399909,0.993888,722,2021-07-28 11:08:04.802
3,2021-07-13 14:00:00+00:00,1005,0.967468,0.788458,424,2021-07-28 11:08:04.802
4,2021-07-13 15:00:00+00:00,1005,0.024679,0.956064,569,2021-07-28 11:08:04.802
...,...,...,...,...,...,...
1802,2021-07-28 09:00:00+00:00,1001,0.089418,0.311234,485,2021-07-28 11:08:04.802
1803,2021-07-28 10:00:00+00:00,1001,0.222534,0.927691,114,2021-07-28 11:08:04.802
1804,2021-04-12 07:00:00+00:00,1001,0.175219,0.761434,385,2021-07-28 11:08:04.802
902,2021-07-20 23:00:00+00:00,1003,0.025968,0.109748,55,2021-07-28 11:08:04.802
902,2021-07-20 23:00:00+00:00,1003,0.025968,0.109748,55,2021-07-28 11:08:04.802

In [5]:
read_train.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature33,feature34,feature35,feature36,feature37,feature38,feature39,feature40,feature41,label
0,0.000008,ptp,-,INT,2.0,0.0,200.0,0.0,254.0,0.0,...,1.0,1.0,2.0,0.0,0.0,0.0,26.0,2.0,0.0,1
1,0.778566,tcp,-,FIN,20.0,36.0,1096.0,28700.0,62.0,252.0,...,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1
2,0.054953,tcp,-,FIN,84.0,86.0,4862.0,77276.0,31.0,29.0,...,1.0,1.0,1.0,0.0,0.0,0.0,3.0,5.0,0.0,0
3,1.521637,tcp,-,FIN,20.0,16.0,1020.0,1242.0,62.0,252.0,...,1.0,1.0,2.0,0.0,0.0,0.0,2.0,2.0,0.0,1
4,0.000004,udp,dns,INT,2.0,0.0,114.0,0.0,254.0,0.0,...,7.0,4.0,31.0,0.0,0.0,0.0,7.0,31.0,0.0,1

In [19]:
{"id":"123",
 '"ows':list(read_train.iloc[0].values),
 'columns':list(read_train.columns.values),}

{'id': '123',
 'rows': [3e-06,
  118.0,
  0.0,
  4.0,
  2.0,
  0.0,
  2104.0,
  0.0,
  254.0,
  0.0,
  2805333248.0,
  0.0,
  0.0,
  0.0,
  0.003,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1052.0,
  0.0,
  0.0,
  0.0,
  1.0,
  2.0,
  2.0,
  1.0,
  1.0,
  2.0,
  0.0,
  0.0,
  0.0,
  1.0,
  2.0,
  0.0],
 'columns': ['feature1',
  'feature2',
  'feature3',
  'feature4',
  'feature5',
  'feature6',
  'feature7',
  'feature8',
  'feature9',
  'feature10',
  'feature11',
  'feature12',
  'feature13',
  'feature14',
  'feature15',
  'feature16',
  'feature17',
  'feature18',
  'feature19',
  'feature20',
  'feature21',
  'feature22',
  'feature23',
  'feature24',
  'feature25',
  'feature26',
  'feature27',
  'feature28',
  'feature29',
  'feature30',
  'feature31',
  'feature32',
  'feature33',
  'feature34',
  'feature35',
  'feature36',
  'feature37',
  'feature38',
  'feature39',
  'feature40',
  'feature41']}